<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/extra/css/bot.css">
    <script src="/extra/js/bot.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>
    <div class="box"></div>
    <div class="boxed">
        <div>
            <div id="chatbox">
            </div>
            <div style="width: 100%; " id="userInput">
                <input id="textInput" style="width: 100%;" type="text" name="msg" onKeydown="edValueKeyPress(event)" placeholder="Message" autocomplete="off" focus />
            </div>
        </div>
    </div>
</body>